fastapi==0.109.1
uvicorn==0.27.1
python-multipart==0.0.9
numpy==1.24.4 #numpy==1.26.4 unavailable
opencv-python==4.9.0.80
pytesseract==0.3.10
pdf2image==1.17.0
torch==2.2.0
transformers==4.37.2
spacy==3.7.2
python-jose==3.3.0
passlib==1.7.4